@*<ul>
    <li/>@Html.ActionLink("Report Designer", "Designer", "Home")
    <li/>@Html.ActionLink("Document Viewer", "Viewer", "Home")
</ul>*@
@{
    //Layout = _Layout;
    ViewData["Title"] = "Dashboard - Vintage Pay Reporting Server";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Reports</a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">Audiences</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab" aria-selected="false">Demographics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">More</a>
                                </li>*@
                        </ul>
                        @*<div>
                                <div class="btn-wrapper">
                                    <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                                    <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                                </div>
                            </div>*@
                    </div>
                    <div class="tab-content tab-content-basic">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        <a class="nav-link" style="color:#b30718" href="#" onclick="location.href='@Url.Action("../Reports/PaySlip")'">
                                                            Payslip
                                                        </a>
                                                    </h4>
                                                    <div class="d-flex justify-content-between">
                                                        @*<p class="text-muted">@Model.totEmployeeCount</p>
                                                        <p class="text-muted">100%</p>*@
                                                    </div>
                                                    <div class="progress progress-md">
                                                        <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        <a class="nav-link" href="#" style="color:#b30718" onclick="location.href='@Url.Action("../Reports/PayAnalysis")'">
                                                            Pay Analysis
                                                        </a>
                                                    </h4>
                                                   
                                                    <div class="progress progress-md">
                                                        <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                    
                                                        <a class="nav-link" href="#" style="color:#b30718" onclick="location.href='@Url.Action("../Reports/BankSchedule")'">
                                                            Bank Schedule
                                                        </a>
                                                    </h4>
                                                    <div class="d-flex justify-content-between">
                                                        @*<p class="text-muted">@Model.birthdayEmployeeCount</p>
                                                        <p class="text-muted">@Model.birthdayEmployeePer%</p>*@
                                                    </div>
                                                    <div class="progress progress-md">
                                                        <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        <a class="nav-link" href="#" style="color:#b30718" onclick="location.href='@Url.Action("../Reports/PayJournal")'">
                                                            Payroll Journal
                                                        </a>
                                                    </h4>
                                                    <div class="d-flex justify-content-between">
                                                        @*<p class="text-muted">@Model.leaveEmployeeCount</p>
                                                        <p class="text-muted">@Model.leaveEmployeePer%</p>*@
                                                    </div>
                                                    <div class="progress progress-md">
                                                        <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                         
                                                            <a class="nav-link" href="#" style="color:#b30718" onclick="location.href='@Url.Action("../Reports/Payee")'">
                                                                Tax
                                                            </a>
</h4>
                                                    <div class="d-flex justify-content-between">
                                                        @*<p class="text-muted">@Model.leaveEmployeeCount</p>
                        <p class="text-muted">@Model.leaveEmployeePer%</p>*@
                                                    </div>
                                                    <div class="progress progress-md">
                                                        <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        
                                                        <a class="nav-link" href="#" style="color:#b30718" onclick="location.href='@Url.Action("../Reports/Pension")'">
                                                            Pension
                                                        </a>
                                                    </h4>
                                                    <div class="d-flex justify-content-between">
                                                        @*<p class="text-muted">@Model.leaveEmployeeCount</p>
                        <p class="text-muted">@Model.leaveEmployeePer%</p>*@
                                                        
                                                    </div>
                                                    <div class="progress progress-md">
                                                        <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
